*{margin: 0; padding: 0;} 
		
body {
	border: 1px dotted black;
	max-width: 1062x;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;

}
header {
	border: 1px dotted black;
	background-color: #732420;
	  color: #ffffff;
	margin: 1.968503937007874%; 
	padding: 1.968503937007874%;
	width: 94,161958568738229755%;
}
header img{
	width: 230px;
	height: 70px;
}
h1{
	display: inline;		
}
.menu-toggle {
    display: none; /* Inicialmente oculto */
    cursor: pointer;
    font-size: 30px;
}

#nav-menu {
    display: flex;
    justify-content: center;
	display: none;
}

nav ul {
	margin: 1.968503937007874%; 
	padding: 1.968503937007874%;
	background-color: #723228;
    list-style: none;
    display: flex;
}

nav li {
    margin: 0.656167979002624%;
    border: 1px dotted black;
}

nav a {
	color: white;
    text-decoration: none;
    padding: 10px;
}
main {
	border: 1px dotted black;
	margin: 1.968503937007874%; 
	padding: 1.968503937007874%;
	width: 94,161958568738229755%;;
}
main section{
	display: grid;
	grid-template: auto auto / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	row-gap: 1.968503937007874%;
	column-gap: 1.968503937007874%;
	justify-content: space-evenly;
	text-align: center;
}
#catalogo1 {
	grid-row: 1/2;
	grid-column: 1/span 5;
	border: 1px dotted black;
}
#catalogo2 {
	grid-row: 1/2;
	grid-column: 6/span 5;
	border: 1px dotted black;
}
#catalogo3 {
	grid-row: 1/2;
	grid-column: 11/span 5;
	border: 1px dotted black;
}
#catalogo4 {
	grid-row: 2/3;
	grid-column: 1/span 7;
	border: 1px dotted black;
}
#catalogo5 {
	grid-row: 2/3;
	grid-column: 8/span 7;
	border: 1px dotted black;
}
main section div{
	border: 1px dotted black;
}
main section div img{
	max-width: 100%;
}
footer {
	border: 1px dashed black;
	background-color: #732420;
	color: #ffffff;
	margin: 1.968503937007874%; 
	padding: 1.968503937007874%;
	width: 94,161958568738229755%;;
	text-align: center;
}
@media only screen and (max-width: 767px) {
	menu-toggle {
        display: block;
    }

    #nav-menu {
        display: block;
        background-color: #723228;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }

    nav ul {
        flex-direction: column;
        background-color: #723228;
        padding: 10px;
    }

    nav li {
        border: none;
        margin: 10px 0;
    }

    #menu-toggle:checked + #nav-menu {
        display: block;
    }

    nav li {
        border-bottom: 1px solid #fff;
    }
nav ul li {
    transition: background-color 0.3s ease;
}

nav ul li:hover {
    background-color: #4b2c2a;
}
	main section{
		grid-template: repeat(10,auto)/1fr;
	}
	#catalogo1 {
		grid-row: 1/2;
		grid-column: 1/2;
	}
	#catalogo2 {
		grid-row: 2/3;
		grid-column: 1/2
	}
	#catalogo3 {
		grid-row: 3/4;
		grid-column: 1/2;
	}
	#catalogo4 {
		grid-row: 4/5;
		grid-column: 1/2;
	}
	#catalogo5 {
		grid-row: 5/6;
		grid-column: 1/2;
	}
}
main section div img{
	max-width: 100%;
}