* {margin: 0; padding: 0;} 
		body {
			border: 1px dashed black;
			max-width: 1062px;
			margin-left: auto;
			margin-right: auto;
		}
		header {
			background-color: #ff6600;
			border: 1px dashed black;
			margin: 1,5%;
			padding: 1,5%;
			width: 94,161958568738229755178907721281%;
		}
		header img{
			width: 200px;
			height: 50px;
		}
		h1{
			display: inline;
		}
		.respmenu {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px;
			background-color: #ff6600;
		}
		
		#menu-toggle {
			display: none;
		}
		
		.menu-icon {
			display: none;
			cursor: pointer;
		}
		
		.menu-icon i {
			font-size: 1.8em;
			color: white;
		}
		
		.menu {
			display: flex;
		}
		
		.menu ul {
			list-style: none;
			display: flex;
		}
		
		.menu ul li {
			margin-left: 20px;
		}
		
		.menu ul li a {
			text-decoration: none;
			color: white;
			font-size: 1.1em;
			font-weight: bold;
		}
		
		.menu ul li a:hover {
			color: white;
		}
		main {
			border: 1px dashed black;
			margin: 1,5%; 
			padding: 1,5%;
			width: 94,161958568738229755178907721281%;
		}
		main section{
			display: grid;
			grid-template: auto auto / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			row-gap: 15px;
			column-gap: 15px;
			text-align: center;
		}
		#catalogo1 {
			grid-row: 1/2;
			grid-column: 1/span 3;
			border: 1px dotted black;
		}
		#catalogo2 {
			grid-row: 1/2;
			grid-column: 4/span 3;
			border: 1px dotted black;
		}
		#catalogo3 {
			grid-row: 1/2;
			grid-column: 7/span 3;
			border: 1px dotted black;
		}
		#catalogo4 {
			grid-row: 1/2;
			grid-column: 10/span 3;
			border: 1px dotted black;
		}
		#catalogo5 {
			grid-row: 2/3;
			grid-column: 1/span 3;
			border: 1px dotted black;
		}
		#catalogo6 {
			grid-row: 2/3;
			grid-column: 4/span 3;
			border: 1px dotted black;
		}
		#catalogo7 {
			grid-row: 2/3;
			grid-column: 7/span 3;
			border: 1px dotted black;
		}
		#catalogo8 {
			grid-row: 2/3;
			grid-column: 10/span 3;
			border: 1px dotted black;
		}
		#catalogo9 {
			grid-row: 3/4;
			grid-column: 1/span 4;
			border: 1px dotted black;
		}
		#catalogo10 {
			grid-row: 3/4;
			grid-column: 5/span 4;
			border: 1px dotted black;
		}
		#catalogo11 {
			grid-row: 3/4;
			grid-column: 9/span 4;
			border: 1px dotted black;
		}
		#catalogo12 {
			grid-row: 4/5;
			grid-column: 1/span 4;
			border: 1px dotted black;
		}
		#catalogo13 {
			grid-row: 4/5;
			grid-column:5/span 4;
			border: 1px dotted black;
		}
		#catalogo14 {
			grid-row: 4/5;
			grid: column 9px/span 4;
			border: 1px dotted black;
		}
		main section div{
			border: 1px dotted black;
		}
		main section div img{
			max-width: 100%;
		}
		footer {
			background-color: #ff6600;
			border: 1px dashed black;
			margin: 1.5%; 
			padding: 1.5%;
			width: 94,161958568738229755178907721281%;
		}
		@media only screen and (max-width: 767px) {
			main section{
				grid-template: repeat(10,auto)/1fr;
			}
			#catalogo1 {
				grid-row: 1/2;
				grid-column: 1/2;
			}
			#catalogo2 {
				grid-row: 2/3;
				grid-column: 1/2
			}
			#catalogo3 {
				grid-row: 3/4;
				grid-column: 1/2;
			}
			#catalogo4 {
				grid-row: 4/5;
				grid-column: 1/2;
			}
			#catalogo5 {
				grid-row: 5/6;
				grid-column: 1/2
			}
			#catalogo6 {
				grid-row: 6/7;
				grid-column: 1/2;
			}
			#catalogo7 {
				grid-row: 7/8;
				grid-column: 1/2;
			}
			#catalogo8 {
				grid-row: 8/9;
				grid-column: 1/2
			}
			#catalogo9 {
				grid-row: 9/10;
				grid-column: 1/2;
			}
			#catalogo10 {
				grid-row: 10/11;
				grid-column: 1/2;
			}
			#catalogo11 {
				grid-row: 11/12;
				grid-column: 1/2
			}
			#catalogo12 {
				grid-row: 12/13;
				grid-column: 1/2;
			}
			#catalogo13 {
				grid-row: 13/14;
				grid-column: 1/2;
			}
			#catalogo14 {
				grid-row: 14/15;
				grid-column: 1/2;
			}

		}
		main section div img{
			max-width: 200px;
		}