* {margin: 0; padding: 0;} 
		body {
			border: 1px dashed black;
			max-width: 1062px;
			margin-left: auto;
			margin-right: auto;
		}
		header {
			background-color: #ff6600;
			border: 1px dashed black;
			margin: 1,5%;
			padding: 1,5%;
			width: 94,161958568738229755178907721281%;
		}
		header img{
			width: 200px;
			height: 50px;
		}
		h1{
			display: inline;
		}
		nav {
			background-color: #ff6600;
			border: 1px dashed black;
			margin: 1,5%;
			padding: 1,5%;
			width: 94,161958568738229755178907721281%;
		}
		nav li{
			border: 1px dashed black;
			display: inline;
			margin: 1%;
		}
		main {
			border: 1px dashed black;
			margin: 1,5%; 
			padding: 1,5%;
			width: 94,161958568738229755178907721281%;
		}
		main section{
			display: grid;
			grid-template: auto auto / 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
			row-gap: 15px;
			column-gap: 15px;
			text-align: center;
		}
		#gafas1 {
			position: relative;
			grid-row: 1/2;
			grid-column: 1/span 5;
			border: 1px dotted black;
		}
		#gafas2 {
			position: relative;
			grid-row: 1/2;
			grid-column: 7/span 5;
			border: 1px dotted black;
		}
		#gafas3 {
			position: relative;
			grid-row: 2/3;
			grid-column: 2/span 5;
			border: 1px dotted black;
		}
		#gafas4 {
			position: relative;
			grid-row: 2/3;
			grid-column: 8/span 5;
			border: 1px dotted black;
		}
		.discount-tag {
			background-color: red; 
			color: white;          
			padding: 5px 10px;     
			font-weight: bold;    
			border-radius: 5px;   
			font-size: 1.2em;      
			position: absolute;    
			top: 10px;             
			left: 10px;
		}
		main section div{
			border: 1px dotted black;
		}
		main section div img{
			max-width: 100%;
		}
		footer {
			background-color: #ff6600;
			border: 1px dashed black;
			margin: 1.5%; 
			padding: 1.5%;
			width: 94,161958568738229755178907721281%;
		}
		@media only screen and (max-width: 767px) {
			main section{
				grid-template: repeat(10,auto)/1fr;
			}
			#gafas1 {
				grid-row: 1/2;
				grid-column: 1/2;
			}
			#gafas2 {
				grid-row: 2/3;
				grid-column: 1/2
			}
			#gafas3 {
				grid-row: 3/4;
				grid-column: 1/2;
			}
			#gafas4 {
				grid-row: 4/5;
				grid-column: 1/2;
			}
		}
		main section div img{
			max-width: 200px;
		}