*{margin: 0; padding: 0;} 
body {
    border: 1px dotted black;
    max-width: 1062x;
    margin-left: auto;
    margin-right: auto;
}
header {
    border: 1px dotted black;
    background-color: #f99456;
    color: #ffffff;
    margin: 1.968503937007874%; 
    padding: 1.968503937007874%;
    width: 94,161958568738229755%;
}
header img{
    width: 230px;
    height: 70px;
}
h1{
    display: inline;		
}
.menu-toggle {
    display: none; /* Inicialmente oculto */
    cursor: pointer;
    font-size: 30px;
}

#nav-menu {
    display: flex;
    justify-content: center;
    display: none;
}

nav ul {
    margin: 1.968503937007874%; 
    padding: 1.968503937007874%;
    background-color: #f99456;
    list-style: none;
    display: flex;
}

nav li {
    margin: 0.656167979002624%;
    border: 1px dotted black;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
}
main {
    border: 1px dotted black;
    margin: 1.968503937007874%; 
    padding: 1.968503937007874%;
    width: 94,161958568738229755%;;
}
main table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

td {
    padding: 10px;
    text-align: left;
}

td input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
    background-color: #f9f9f9;
}

td input:focus {
    border-color: #333;
    outline: none;
}  
main button{
    width: 100%;
    padding: 10px;
    background-color: #f99456;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: #f99456;
}
footer{
    border: 1px dotted black;
    background-color: #f99456;
    color: #ffffff;
    margin: 1.968503937007874%; 
    padding: 1.968503937007874%;
    width: 94,161958568738229755%;
    clear: both;
    text-align: center;
}
footer p {
    margin: 0;
    font-size: 14px;
}


@media screen and (max-width: 768px) {
    table {
        width: 90%;
    }

    .checkout-button {
        width: 80%;
    }
}
