* {margin: 0; padding: 0;} 
		body {
			border: 1px dashed black;
			max-width: 1062px;
			margin-left: auto;
			margin-right: auto;
		}
		header {
			background-color: #ff6600;
			border: 1px dashed black;
			margin: 1,5%;
			padding: 1,5%;
			width: 94,161958568738229755178907721281%;
		}
		header img{
			width: 200px;
			height: 50px;
		}
		h1{
			display: inline;
		}
		nav {
			background-color: #ff6600;
			border: 1px dashed black;
			margin: 1,5%;
			padding: 1,5%;
			width: 94,161958568738229755178907721281%;
		}
		nav li{
			border: 1px dashed black;
			display: inline;
			margin: 1%;
		}
		main {
			border: 1px dashed black;
			margin: 1,5%; 
			padding: 1,5%;
			width: 94,161958568738229755178907721281%;
			float: left;
		}
		.main p
		{
			margin: 1,5%;
		}		
		.aside
		{
			border: 1px dashed black;
			margin: 1,5%; 
			padding: 1,5%;
			width: 94,161958568738229755178907721281%;
			float: right;
		}
		.aside img{
			border: 1px dashed black;
			max-width: 100%;
		}
		footer {
			background-color: #ff6600;
			border: 1px dashed black;
			margin: 1.5%; 
			padding: 1.5%;
			width: 94,161958568738229755178907721281%;
			
		}
		@media only screen and (max-width: 767px) {
		
		.aside section div img{
			max-width: 200px;
	}
}