*{margin: 0; padding: 0;} 
		
body {
	border: 1px dotted black;
	max-width: 1062x;
	margin-left: auto;
	margin-right: auto;
	font-family: sans-serif;

}
header {
	border: 1px dotted black;
	background-color: #f99456;
	  color: #ffffff;
	margin: 1.968503937007874%; 
	padding: 1.968503937007874%;
	width: 94,161958568738229755%;
}
header img{
	width: 230px;
	height: 70px;
}
h1{
	display: inline;		
}
.menu-toggle {
    display: none; /* Inicialmente oculto */
    cursor: pointer;
    font-size: 30px;
}

#nav-menu {
    display: flex;
    justify-content: center;
	display: none;
}

nav ul {
	margin: 1.968503937007874%; 
	padding: 1.968503937007874%;
	background-color: #f99456;
    list-style: none;
    display: flex;
}

nav li {
    margin: 0.656167979002624%;
    border: 1px dotted black;
}

nav a {
	color: white;
    text-decoration: none;
    padding: 10px;
}
main {
	border: 1px dotted black;
	margin: 1.968503937007874%; 
	padding: 1.968503937007874%;
	width: 94,161958568738229755%;;
}
main section{
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	justify-content: space-evenly;
	text-align: center;
}
main section div{
	border: 1px dotted black;
}
main section div img{
	max-width: 100%;
}
footer {
	border: 1px dashed black;
	background-color: #f99456;
	color: #ffffff;
	margin: 1.968503937007874%; 
	padding: 1.968503937007874%;
	width: 94,161958568738229755%;;
	text-align: center;
}
@media only screen and (max-width: 767px) {
	menu-toggle {
        display: block;
    }

    #nav-menu {
        display: block;
		background-color: #f99456;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }

    nav ul {
        flex-direction: column;
        background-color: #f99456;
        padding: 10px;
    }

    nav li {
        border: none;
        margin: 10px 0;
    }

    #menu-toggle:checked + #nav-menu {
        display: block;
    }

    nav li {
        border-bottom: 1px solid #fff;
    }
	nav ul li {
    	transition: background-color 0.3s ease;
	}
	nav ul li:hover {
    	background-color: #f99456;
	}
	main img{
		width: 180px;
	}
	section div{
		width: 180px;
	}
}